 .shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
} 

 .movies-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
} 

.cart-container{
    background-color: rgb(223, 235, 231);
    position: sticky;
    top: 0;
    border: 1px solid blueviolet;
    border-radius: 10px;
}

@media screen and (max-width:1100px) {
    .movies-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .movies-container {
      grid-template-columns: 1fr;
      
    }
  }